<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                  
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19844524?query=java%20Lviv">Senior Java Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25461376?query=java%20Lviv">Senior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25482958?query=java%20Lviv">Middle/Senior Java Developer Portal team (IRC60058)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/18889135?query=java%20Lviv">Java Solution Architect</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19596336?query=java%20Lviv">Senior Software Test Automation Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/22148445?query=java%20Lviv">Senior Software Test Automation Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/23270519?query=java%20Lviv">Senior Software Engineer (RPA/Workfusion)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25483130?query=java%20Lviv">Middle Python AQA Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19844522?query=java%20Lviv">Senior Front-end Engineer (ReactJS)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/18889138?query=java%20Lviv">Big Data Solution Architect</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25381842?query=java%20Lviv">NOC Engineer (IRC59805)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25198172?query=java%20Lviv">Senior Backend Developer – Big Data (IRC59297)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25197851?query=java%20Lviv">Senior Backend Developer – Big Data (IRC59296)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19596339?query=java%20Lviv">Senior JavaScript Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041182">React Native developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041997">Разработчик Sсala</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042053">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Комус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042045">Программист SAP PI</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Комус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038778">Python разработчик в команду машинного обучения</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042029">QA-инженер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AB Technology</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042022">Java Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042025">Data Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042023">Senior Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032013">Разработчик Android/Руководитель группы мобильной разработки</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Full stack разработчик (React, Python, Middle/Senior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042017">Senior / middle Java Developer (RnD)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nexign (ранее "Петер-Сервис")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041915">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042002">React Native developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041985">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041974">ElectronJs Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041957">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041960">Консультант поддержки интеграции SAP POS DM</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041946">Java-Developer /разработчик</a></td> 
     <td class="city">Орел</td> 
     <td class="companyName">SENLA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040303">Java-разработчик (Backend)</a></td> 
     <td class="city"></td> 
     <td class="companyName">LeadGroup</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041936">Android разработчик</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">3ATDev</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041927">DevOps</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">[ смсфинанс }</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041893">Senior Backend Developer/Team Lead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tropicent Incorporated</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041182">React Native developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041997">Разработчик Sсala</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042053">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Комус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042045">Программист SAP PI</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Комус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038778">Python разработчик в команду машинного обучения</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042029">QA-инженер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AB Technology</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042022">Java Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042025">Data Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042023">Senior Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032013">Разработчик Android/Руководитель группы мобильной разработки</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Full stack разработчик (React, Python, Middle/Senior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042017">Senior / middle Java Developer (RnD)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nexign (ранее "Петер-Сервис")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041915">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042002">React Native developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041985">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041974">ElectronJs Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041957">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041960">Консультант поддержки интеграции SAP POS DM</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041946">Java-Developer /разработчик</a></td> 
     <td class="city">Орел</td> 
     <td class="companyName">SENLA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040303">Java-разработчик (Backend)</a></td> 
     <td class="city"></td> 
     <td class="companyName">LeadGroup</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041936">Android разработчик</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">3ATDev</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041927">DevOps</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">[ смсфинанс }</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041893">Senior Backend Developer/Team Lead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tropicent Incorporated</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041870">Программист PHP</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "АТС"</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040921">Senior Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040366">JS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041882">React.Senior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SoftPro</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041872">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city"></td> 
     <td class="companyName">LIKED</td> 
     <td class="salary">От 40 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040357">🤖 Android Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zerion</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041871">Senior Web Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041057">Team Lead</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028892">Java разработка на серверную часть соц. сети.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Vero Labs Inc.</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041377">Senior Golang Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ООО "Спираль Скаут"</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041490">Программист Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Staff and Service</td> 
     <td class="salary">От 50 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040687">🔥 Middle Backend Developer for a Blockchain Project</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KickCity</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036572">Android разработчик(Middle)</a></td> 
     <td class="city"></td> 
     <td class="companyName">LT Digital</td> 
     <td class="salary">От 1 700 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039725">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041828">Senior Java Web Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041763">Разработчик JAVA</a></td> 
     <td class="city"></td> 
     <td class="companyName">3В Сервис</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041824">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041816">Разработчик Blockchain</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041814">Backend Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АйДаПрикол</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041775">Java-разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ООО "Дайком Консалтинг"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041788">DevOps (Архитектор/разработчик Hadoop)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041771">Программист PHP/Full Stack</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ForexTime Ltd</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041761">Senior Business Analyst</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041760">Рекрутер IT</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040824">Frontend разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Gocream</td> 
     <td class="salary">От 90 000 до 135 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041740">Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Glamy</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039669">Тестировщик ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041331">Web разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">NBCom Group</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039545">Data Scientist</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041718">Senior Mobile Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Makeomatic</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041518">Старший разработчик Java || Scala</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041519">Java || Scala разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031534">Business Analyst (remote work)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Petrosoft LLC</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041390">Team Lead</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041276">Senior Web Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041687">Team leader, Старший java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Интабия</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041536">Ведущий разработчик С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041679">Senior Lead QA/QC (Руководитель команды тестирования)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Virtual Health</td> 
     <td class="salary">От 83 000 до 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041677">Конфигуратор-разработчик JIRA</a></td> 
     <td class="city"></td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041676">Top Developer (Ведущий разработчик)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Пулково-Экспресс"</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039129">Старший/Ведущий Front-end разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Руббери</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041668">Аналитик-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040809">JavaScript/Spring developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035490">Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Тенет</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041641">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Boatpilot</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041640">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Boatpilot</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041637">Lead QA engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МФК «Честное слово»</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033634">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027454">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039597">Инженер по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039339">Специалист по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WakeApp</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040797">Руководитель группы автотестирования С# (Новосибирск)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041261">Разработчик мобильных приложений Android. Стажер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Onetrak</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041535">Java Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Next Consulting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041621">Junior Mobile Threats Analyst</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Доктор Веб</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041575">PHP Team Lead</a></td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040738">Senior Java Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary">До 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041556">Senior java developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041555">Разработчик хранилищ данных</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041531">Senior .NET/C# Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041472">Frontend разработчик (React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask (ScanTask)</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041520">​Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041514">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041513">Client &amp; Project Manager (English speaking)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Minimum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041367">Андроид-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wellbell, Inc.</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041505">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лига Цифровой Экономики</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041496">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">True Flip</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041491">Программист Java</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Staff and Service</td> 
     <td class="salary">От 50 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040471">Android разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Колёса | Крыша | Маркет</td> 
     <td class="salary">От 300 000 до 500 000 тнг.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041487">Программист IOS и Android</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ООО "Эд Софт"</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041463">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Raxel Telematics</td> 
     <td class="salary">От 120 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041451">Data Engineer YouDo</a></td> 
     <td class="city"></td> 
     <td class="companyName">YouDo</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040353">QA Automation Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041443">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Perfect Art</td> 
     <td class="salary">От 180 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035928">Senior Java Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ALAMICS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041427">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FactoryMarket</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041408">QA automation (RnD)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Nexign (ранее "Петер-Сервис")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041423">IT Архитектор / IT Architect / Software Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QRate</td> 
     <td class="salary">От 175 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041419">Тестировщик DWH</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041417">Специалист поддержки банковской системы (Midas)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037891">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Sandbox</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038936">Lead Java Backend Developer (Ведущий Java разработчик, бэкенд)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041371">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Minimum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040513">Scala developer ( Senior/ Middle )</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041359">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Центр Недвижимости от Сбербанка</td> 
     <td class="salary">До 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041352">Программист С#/.NET/ASP.NET</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041347">Технический менеджер</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037413">Тестировщик ПО (автоматизатор)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041337">Android Senior Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Incrdbl Mobile Entertainment</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038609">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031023">QA инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plazius</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041336">Менеджер направления автоматизированного тестирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041203">Младший Android-разработчик</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041325">Backend-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041314">Android Developer (Java)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АйДаПрикол</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034144">Программист/разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PSI Logistics</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023656">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Logistics Automation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028304">Главный разработчик JAVA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041277">Python developer — Cloud Services</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ivideon</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041245">Java Lead Developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041244">Java Middle Developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary">От 60 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041236">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Boris.Guru</td> 
     <td class="salary">От 2 000 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041239">Senior QA Engineer (potentially QA Team Lead)/Старший специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 180 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>