<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                               
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19844524?query=java%20Lviv">Senior Java Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25461376?query=java%20Lviv">Senior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25482958?query=java%20Lviv">Middle/Senior Java Developer Portal team (IRC60058)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/18889135?query=java%20Lviv">Java Solution Architect</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19596336?query=java%20Lviv">Senior Software Test Automation Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/22148445?query=java%20Lviv">Senior Software Test Automation Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/23270519?query=java%20Lviv">Senior Software Engineer (RPA/Workfusion)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25483130?query=java%20Lviv">Middle Python AQA Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19844522?query=java%20Lviv">Senior Front-end Engineer (ReactJS)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/18889138?query=java%20Lviv">Big Data Solution Architect</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25381842?query=java%20Lviv">NOC Engineer (IRC59805)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25198172?query=java%20Lviv">Senior Backend Developer – Big Data (IRC59297)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/25197851?query=java%20Lviv">Senior Backend Developer – Big Data (IRC59296)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://lviv.hh.ua/vacancy/19596339?query=java%20Lviv">Senior JavaScript Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="">Strong Junior/Middle Java developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Eurosoftware-UA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="">Strong Junior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">UKEESS Software House</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="">BS Junior Android Software Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="">Junior/Trainee Software Engineer (.Net | PHP | iOS | Java | Android | Web |...</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Leobit</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="">Android Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Teamvoy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3053663/">Junior/Trainee Software Engineer (.Net</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">Leobit</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3150760/">Middle Java Software Engineer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/1092318/">C#/Java Developer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">ISD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/1742387/">Junior/Middle PHP Developer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">Otakoyi</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3141276/">Senior Java Technical Lead (Portal team</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3117388/">Senior/Lead Java Software Engineer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3102095/">Junior UI/UX Designer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">Blackthorn Vision LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3150073/">Junior C developer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">Larix, Software Development Company</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3141292/">Senior Java Engineer (IRC60083)</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3149814/">Junior Salesforce Developer</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">CloudWharf GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://work.ua/jobs/3141347/">Junior NOC/Support Engineer (IRC58327)</a></td> 
     <td class="city"> Львов&nbsp;</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>